body {
  padding: 0px;
}

.navigation {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  max-height: 100%;
}

.left-logo-div {
  display: block;
  height: 60px;
  width: 100%;
  padding: 0px;
  float: none;
}

.left-logo {
  display: block;
  margin: 0 auto;
}

.full-option {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--secondary-background-color);
  position: relative;
}

.options {
  display: block;
  background-color: var(--main-navigation-color);
  float: none;
  height: inherit;
  height: auto;
  width: auto;
  padding: 0px;
}

.underbar {
  height: 100%;
  width: 0px;
  position: absolute;
  left: 0px;
}

.full-option:hover .underbar {
  width: 7px;
  height: 100%;
}

.underbar-up {
  height: 100%;
  width: 7px;
}
