{% extends 'base.html' %}
{% load static %}
{% block title %} Për ne {% endblock %}

{% block css %}
  <link href="{% static 'home/css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="about-wrapper">

  <div class="about-title">
    <span class="about-sp"> Për (ne) mua</span>
  </div>
  <div class="about-message">
    <p class="t431"> It's 4:29 AM. 10/26/2018, it is now Friday. My name is <span class="emph">Kastriot Kastrati</span> and I'm currently coding
      this about page. I realize this is in english and my website is in Albanian, but honestly this is a
      ripoff of theonion and I guess i had a few drinks so I don't really care. Oh an btw, im listening to
      Ernim Ibrahimi - Tina , Valentina 2o1o.. I know it is weird but that's a good song I guess. It all
      depends on what you like. As you can see by the rambling, I'm coding this by myself and I write whatever
      I want.
      <br>
      10/26/2018. MTFAAA 2x
    </p>
  </div>


</div>

{% endblock %}
