{% extends 'base.html' %}
{% load static %}

{% block title %}{{ unique_article.article_title }}{% endblock %}

{% block external %}
<meta property="og:image" content="{{ unique_article.article_image }}" />
{% endblock %}

{% block css %}

<style>
  :root {
    --main-highlight-color: var(--{{ article_category }}-main-color);
  }
</style>

<link href="{% static 'home/css/article_view.css' %}" rel="stylesheet">
<link href="{% static 'home/css/article_view700.css' %}" media="screen and (min-width: 0px) and (max-width: 700px)" rel="stylesheet">

{% endblock %}

{% block body %}
{{ article_sharestring }}
  <div class="full-wrapper">
    <div class="full-article-left">
      <div class="article-photo-div">

        <img class="left-article-patt" src="{% static 'home/media/left-article-pattern.png' %}">

        <div style="background-image:url({{ unique_article.article_image }})" class="article-photo">
        </div>

      </div>

      <div class="article-text">

        <div class="article-title">
          <p class="article-title-p">
            {{ unique_article.article_title}}
          </p>

          <span class="author-name">
            {{ unique_article.article_author}} -- {{ unique_article.article_created_at|timesince }} më parë
          </span>
          <span class="article-views">
            {{ unique_article.article_views }} {% if unique_article.article_views == 1 %} shikim {% else %} shikime {% endif %}
          </span>
        </div>

        <div class="article-body">
          <p class="article-body-p">
            {{ unique_article.article_body }}
          </p>
        </div>

      </div>

      <div class="article-share-links">
        <span class="article-share-links-b">

          <a alt="Shpërndaje në facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
            <i class="fab fa-facebook-f article-share-link"></i>
          </a>
          <a alt="Shpërndaje në twitter" href="https://twitter.com/home?status={{ unique_article.article_title|urlencode }}%20{{ request.build_absolute_uri }}" target="_blank">
            <i class="fab fa-twitter article-share-link"></i>
          </a>
          <a alt="Shpërndaje në reddit" href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ unique_article.article_title|urlencode }}" target="_blank">
            <i class="fab fa-reddit-alien article-share-link"></i>
          </a>

        </span>
      </div>
    </div>

    <div class="suggested-articles-right">

      {% for c_article in all_category_articles %}
      <div class="c_article-body">

        <div class="c_article-photo" style="background-image: url({{ c_article.article_image }})">
        </div>
        <div class="c_article-text">
          <div class="c_article-title">
            <a href="{% url 'home:article_view' c_article.article_slug %}">
              <p class="c_article-title-p">{{ c_article.article_title|truncatewords:10 }}</p>
            </a>
          </div>
          <div class="c_article-par">
            <p class="c_article-par-p">
              {{ c_article.article_body|truncatewords:15 }}
            </p>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}
