.article {
  display: block;
  min-width: 100%;
  height: auto;
  overflow: hidden;
}

.article-photo-div {
  height: auto;
  flex: none;
}

.article-photo {
  min-height: 250px;
}

.title-info {
  padding: 20px 0;
}

.body-info {
  padding: 20px 0;
}

.time-info, .author-info {
  display: block;
  min-width: 100%;
  position: relative;
  right: 0px;
  bottom: 0px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
