.c-explan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: var(--secondary-background-color);
}

.c-explan-s {
  padding: 5px 12px;
  color: var(--main-highlight-color);
}

/*.sort-explan {
  padding: 5px 12px;
  background-color: var(--main-background-color);
  color: var(--main-highlight-color);
  box-sizing: border-box;
  border: none;
  outline: none;
}

.sort-explan option:hover {
  background-color: var(--terciary-background-color);
}*/

.fs-wrapper {
  display: flex;
}

.sort-explan-fs {
  background-color: var(--main-background-color);
  border: 1px solid var(--darker-background-color);
  padding: 5px 12px;
  color: var(--main-text-color);
  cursor: pointer;
}

.sort-explan-fs span {
  font-size: 16px;
}

.fs-filled {
  background-color: var(--darkest-background-color);
  border-color: var(--lighter-background-color);
  color: var(--main-highlight-color);
}

.sort-explan-fs:hover {
  border-color: var(--main-highlight-color);
}
